:root {
    --primary-color: #006994;
    --secondary-color: #559bb8;
    --accent1-color: #aacddb;
    --accent-color2: #FFFFFF;
    --general-margin: 10px;
    --general-padding: 10px;
    --padding: 10px 0 10px 0;
}


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    background-color: var(--secondary-color);
}

html, body{
    max-width: 100%;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
    padding: var(--general-padding);
    background-color: var(--secondary-color);
}

header img {
    justify-self: center;
    align-self: center;
}

nav {
    margin: var(--general-margin);
}

.top-nav {
    display: flex;
    list-style: none;
    flex: 1 1 100%;
    justify-content: space-around;
    gap: 5px;
}

.top-nav a {
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
}

.top-nav a:hover {
    color: var(--primary-color);
}

h1 h2 h3 {
    font-family: 'lora', serif;
}

h2 {
    margin: var(--general-margin);
    color: var(--accent-color1);
    border-bottom: solid;
    padding: var(--general-padding);
    text-align: center;
}

section {
    border: solid var(--accent-color1);
    border-radius: 10px;
    margin:  var(--general-margin);
    background-color: var(--accent-color2);
}

.history {
    display: flex;
    justify-content: space-around;
    margin: var(--general-margin);
}

.history img {
    width: 200px;
    height: auto;
    flex: 1 1 auto;
    align-self: center;
}

.history p {
    flex: 3;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: var(--general-margin);
    padding: var(--general-padding);
}

.adventure figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.adventure img {
    max-width: 90%;
}

p {
    margin: var(--general-margin);
    padding: var(--general-padding);
}

footer {
    display: grid;
    grid-template-columns: 1fr auto;
}

footer {
    text-align: center;
    grid-column: 1;
}

/* class selectors */

.hero img {
    display: block;
    width: 100%;
    height: auto;
    top: 50%;
    padding-bottom: 1em;
}

.images-view {
    width: 100%;
    background-size: cover;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    top: 20%;
    width: 63%;
    font-family: 'Oswald', sans-serif;
    left: 50%;
    color: var(--accent-color2);
    background-color:  rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    margin: var(--general-margin);
    transform: translate(-50%);
    font-size: 6px;
}

.hero article img {
    float: right;
    width: 200px;
    height: auto;
    padding: var(--general-padding);
}

.hero h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    color: var(--accent1-color);
    font-family: 'lora', serif;
    text-align: center;
    padding: var(--padding);
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 50px;
}

.social-links {
    display: block;
    grid-column: 2;
    align-items: center;
    gap: 1em;
    margin-right: 2rem;
}

.social-links img {
    width: 2em;
}

/* ID selectors */

#one {
    grid-area: 2 / 2 / 3 / 3;
}

#two {
    grid-area: 2 / 3 / 3 / 4;
}