* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.2em;
}

h1 {
    text-align: center;
    margin: 10px;
    padding: 10px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
}

label {
    padding: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="number"] {
    margin-top: 10px;
    padding: 0.5rem;
}

button {
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #1b2d40;
    color: #eee;
}

button:hover {
    background-color: #402abe;
    color: #000;
    cursor: pointer;
}

/* Class selectors */
.code-block {
    text-align: center;
    padding: 0.5rem;
    background-color: black;
    color: white;
}